/* COLOR */
:root {
    --red-brand: #D60000;
    --red-brand-dark: #7D0000;
    --red-brand-dark-50: #A70303;
    --red-brand-light: #FF0000;
    --white: #ffffff;
    --light-gray: #E1E1E1;
    --dark-gray: #707070;
  }

/* NAVBAR */
.bg-white{
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.categories{
    margin-right: 20px;
}
.search{
    width: 670px;
}
.content-end{
    margin-left: 50px;
}
.btn-brand{
    background-color: var(--red-brand);
}
.md-light{
    color: var(--white);
}

/* BANNER */

.carousel-caption{
    width: 600px;
    margin: 50px auto;
}
.carousel-caption hr{
    height: 2px;
    width: 80px;
    color: rgb(255, 255, 255);
    opacity: 100%;
    margin: 0 auto;
}
.carousel-caption p{
    margin-top: 30px;
}
.carousel-caption .btn-brand{
    color: var(--white);
    border-radius: 10px;
    padding: 10px 20px;
}

/* HOME */
.img-rectangle{
    height: auto;
    width: 100%;
}
.red-text{
    color: var(--red-brand);
}
.content .red-text{
    margin: 0 auto;
    text-align: center;
}
.card-body{
    background-color: var(--light-gray);
}
.btn-more{
    border: solid 2px var(--dark-gray);
}
.btn-more:hover{
    background-color: var(--red-brand);
    border-color: var(--red-brand);
    color: var(--white)
}
.hr-width{
    width: 100px;
    margin: 0 auto;
}
.pub1-text{
    color:  white;
    margin: -180px 120px 0px;
}
.pub1-text-header{
    border-right: solid 2px #FFF;
}
.pub1-text-message{
    margin: 10px 0px 0px 20px;
}
.btn-outline-white{
    color:white;
    border: solid 1px #FFF;
    border-radius: 30px;
}
.btn-outline-white:hover{
    background-color: white;
    color: var(--red-brand);
}
.categories-pop h4{
    color: var(--red-brand);
    margin-top: 100px;
    text-align: center;
}
.border-bottom{
    height: 3px;
    width: 200px;
    background-color: var(--red-brand);
    margin: 0 auto;
}
.categ{
    margin-right: -12px;
}
.categ1{
    margin-left: -14px;
}
.categ2{
    margin-left: -25px;
}
.categ-pop1{
    background-color: var(--red-brand-dark);
    color: white;
    padding: 25px;
}
.categ-pop1 .container{
    margin-top: 20px;
}
.categ-pop2{
    background-color: var(--red-brand-dark-50);
    color: white;
    padding: 12px;
    height: 80px;
}
.categ-pop3{
    background-color: var(--red-brand);
    color: white;
    padding: 12px;
    height: 80px;
}
.categ-pop4{
    background-color: var(--red-brand-light);
    color: white;
    padding: 12px;
    height: 80px;
}
.categ-pop5{
    background-color: #161616;
    color: white;
    padding: 25px;
}
.categ-pop5 .container{
    margin-top: 20px;
}
.categ-pop6{
    background-color: #3A3535;
    color: white;
    padding: 12px;
    height: 80px;
}
.categ-pop7{
    background-color: #5A5656;
    color: white;
    padding: 12px;
    height: 80px;
}
.categ-pop8{
    background-color: #9F9F9F;
    color: white;
    padding: 12px;
    height: 80px;
}